body{
    font-family: Arial;
    background:#f2f2f2;
    margin:0;
}
header{
    background:#e50914;
    color:white;
    padding:15px;
    text-align:center;
}
.container{
    padding:20px;
}
button{
    padding:8px 15px;
    margin:5px;
}
input,select{
    padding:6px;
}
.movie{
    background:white;
    padding:10px;
    margin:10px;
    width:180px;
    display:inline-block;
    text-align:center;
}
.seat{
    width:22px;
    height:22px;
    border:1px solid #333;
    display:inline-block;
    margin:2px;
    cursor:pointer;
}
.available{background:white;}
.selected{background:green;}
.booked{background:red;}
.reserved{background:yellow;}
.block{display:inline-block;margin:10px;}
@media (max-width:600px){
    .container{
        flex-direction:column;
    }
}
@media (max-width:600px){
    .ticket{
        width:95%;
    }
}
